<div class="container-md">
  <div class="row">
    <div class="col-md mt-3 mb-3">
      <h1 class="text-center">プロフィール</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <table class="table text-center">
      <thead>
        <tr>
          <th scope="col" style="width:50%">ProfileImage</th>
          <th scope="col" style="width:50%">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "50x50", fallback: "no_image.png" %></td>
          <td class="align-middle"><%= @user.name %></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>